@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', sans-serif;
    font-weight: bold;
    color: var(--lm-text);
}

:root {
    --lm-bg: #f6f8ff;
    --lm-bg-content: #fefefe;
    --lm-text: #4b6a9b;
    --lm-text-alt: #2b3442;
    --lm-shadow: rgba(70, 96, 187, 0.2); /* OR rgba(70,88,109,0.25)*/
    --lm-icon-bg: brightness(100%);
    --github-link-text: #0079ff;
}

.wrapper {
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    padding-top: 1rem;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lm-bg);
    position: relative;
}

.overlay{
    inset: 0;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    color: red;
    visibility: hidden;
    background-color: rgba(99, 97, 97, 0.493);
}

.container {
    min-height: 90%;
    height: fit-content;
    width: 55%;
    margin: 0 auto;
    padding: 1rem;
}

.main-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.main-heading{
    font-size: 1.25rem;
    font-weight: bold;
}

.mode{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
    font-weight: bold;
}

.icon{
    height: 0.95rem;
    width: 0.95rem;
    cursor: pointer;
}

.search-container{
    position: relative;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 16px 30px -10px var(--lm-shadow);
    padding: 0 1rem;
    border-radius: 1rem;
    background-color: var(--lm-bg-content);
}

.search-container > input {
    background-image: url('./Assets/search-icon.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.25rem 1.25rem;
    flex-grow: 1;
    padding: 1rem 2rem;
    border: none;
    height: 100%;
}

.search-container > input::placeholder{
    color: var(--lm-text);
}

.search-container > input:focus{
    outline: none;
}

.search-btn{
    height: 70%;
    width: 20%;
    cursor: pointer;
    background-color: #0079ff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.75rem;
}

.search-btn:hover{
    background-color: #60abff;
}

.profile-container{
    margin-top: 1.75rem;
    box-shadow: 0px 16px 30px -10px var(--lm-shadow);
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--lm-bg-content);
}

.profile-header{
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    gap: 1rem;
}

.profile-image{
    height: 5.5rem;
    width: 5.5rem;
    border: 1px solid rgba(219, 213, 213, 0.671);
    border-radius: 50%;
}

.user-info-wrapper{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: baseline;
}

.bio{
    width: 100%;
    padding-right: 2rem;
    opacity: 0.7;
    text-align: left;
    margin-bottom: 1rem;
}

.profile-content-container{
    margin-left: 6.5rem;
}

.stats-container{
    background-color: var(--lm-bg);
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.profile-footer{
    display: flex;
    padding: 0.25rem;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 2rem;
}

.location-info, .organization-info{
    display: inline-block;
}

.user-name, .value{
    color: var(--lm-text-alt);
    font-weight: bold;
}

.user-github-link{
    color: var(--github-link-text);
}

.profile-info{
    filter: var(--lm-icon-bg);
}

.active{
    visibility: visible;
}

@media only screen and (max-width: 1200px) {

    .user-bio{
        width: 75%;
    }

    .profile-footer{
        max-width: 35rem;
        width: fit-content;
        margin-left: -5rem;
        gap: 2rem;
    }
}

@media only screen and (max-width: 1024px) {

    .container{
        width: 60%;
    }

    .user-info-wrapper{
        gap: 0.2rem;
    }

    .user-bio{
        width: 85%;
    }

    .profile-footer{
        flex-direction: column;
    }

}

@media only screen and (max-width: 768px) {

    .container{
        width: 80%;
    }

    .user-info-wrapper{
        flex-direction: column;
        gap: 0.4rem;
    }

    .profile-header{
        margin-bottom: 1rem;
    }

    .profile-content-container{
        margin-left: 1rem;
    }

   .user-bio{
       width: 100%;
   }

   .profile-footer{
       margin-left: initial;
   }

}

@media only screen and (max-width: 480px) {

    *{
        font-size: 0.85rem;
    }

    .container{
        width: 95%;
    }

    .search-container > input::placeholder{
        font-size: 0.8rem;
    }

    .main-heading{
        font-size: 0.9rem;
    }

    .profile-content-container{
        padding-left: 1.5rem;
    }

    .stats-container{
        padding: 0.5rem;
    }

    .profile-footer{
        gap: 1.25rem;
    }

}